/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */
:root {
  --main-bg-color: #241b2f;
  --wave-main-bg-color-continuation: #1c1624;
  --secondary-bg-color: #262335;
  --font-color-blue: #38beb6;
  --font-color-red: #ea2551;
  --font-color-green: #91d52e;
  --font-color-yellow: #ddd46c;
  --font-color-orange: #fa9766;
  --font-color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--main-bg-color);
  font-family: Consolas, "Courier New", monospace;
  color: var(--font-color-white);
}

.red {
  color: var(--font-color-red);
}

.blue {
  color: var(--font-color-blue);
}

.yellow {
  color: var(--font-color-yellow);
}

.green {
  color: var(--font-color-green);
}

.orange {
  color: var(--font-color-orange);
}

.white {
  color: var(--font-color-white);
}

.spacer {
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-1 {
  background-image: url(../images/waves/layered-waves-haikei.svg);
}

.wave-2 {
  background-image: url(../images/waves/wave-haikei.svg);
}

.block-1 {
  display: flex;
  align-items: center;
  min-height: 200px;
  flex-direction: row;
  justify-content: center;
}

.block-2 {
  min-height: 200px;
}

.block-1-2 {
  min-height: 200px;
  display: flex;
  background: var(--wave-main-bg-color-continuation);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container {
  font-size: 3vw;
  width: 75%;
  margin-top: -100px;
}

#presentation {
  width: 60%;
  margin-top: -100px;
  margin-left: 15px;
  font-size: 2.3vw;
}

#presentation h1 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

#presentation p {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1s;
}

#header-img {
  /* background-color: var(--secondary-bg-color); */
  margin-top: -100px;
}

#header-img img {
  height: 30vw;
  border: 10px solid var(--secondary-bg-color);
  border-radius: 20px;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
  /* insert styles here */
  .spacer {
    aspect-ratio: 4/5;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

#typewriter {
  /* font-size: 2em; */
  margin: 0;
  /* font-family: "Courier New"; */
}

#typewriter:after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
